# Tools for Data Science
## Final Project

### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4 - Create a markdown cell to list data science languages.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. numpy
4. seaborn
5. scikit-learn

### Exercise 6 - Create a markdown cell with a table of Data Science tools

| **Data Science Tools** |
|------------|
| 1. Apache Spark |
| 2. Apache Hadoop |
| 3. R Studio |
| 4. Anaconda Navigator |

### Exercise 7 - Create a markdown cell introducing arithmetic expression example

### Below are a few examples of evaluating arithmetic expressions in Python

### Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [7]:
import math

minutes = 200
def minutes_to_hours(minutes):
  hours = math.floor(minutes / 60)
  remaining_minutes = minutes % 60
  return f"{hours} hours and {remaining_minutes} minutes"

print(minutes_to_hours(minutes))

3 hours and 20 minutes

### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Become familiar with the most common tools for data science
- Understand the distinction between free and open-source software
- Learn the most common Python libraries for data science
- Become proficient in the use of Jupyter Notebooks
- Become familiar with some common integrated development environments

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
James M. Lockwood